$primary:       #E54C00;
$secondary:     #28a745;
$body-color:    #F7F7F7;
$dark:          #2E2E2E;
$body-bg:       $dark;
$footer:        #570900;
$modal-content-bg: $dark;
$border-color:  #000;
$input-placeholder-color: #ced4da;
$card-bg: #131f27;
$input-disabled-bg: black;
$input-bg: $dark;
$input-color: #F7F7F7;
$input-group-addon-bg: $dark;
$input-border-color: black;